{% include "header.html" %}

<div class="about-container">
  <h1 style="font-size: 3vw">What is SCRAPIE?</h1>
  <p>Food wastage is a massive problem and one of the most overlooked thing in today's world.
    One third of all food produced in the world goes to waste. 
    </p>
    <p>To reduce this problem every single step matters.</p>
    <p>So, let's start with our home !!</p>
  <p>
    SCRAPIE! it is a web app that uses Python to quickly find recipes according to the
    ingredients in your fridge, with vegan/vegetarian options, aiming to reduce
    food waste.
  </p>
  <!-- <ul>
    <li>Runs on Flask server</li>
    <li>
      Uses
      <a
        href="https://developer.edamam.com/"
        style="text-decoration: underline"
        target="_blank"
        >Edamam API</a
      >
    </li>
    <li>Renders HTML with Jinja</li>
  </ul> -->
  <!-- <h1 style="font-size: 3vw">Why this website?</h1>
  <p>
    For the
    <a
      href="https://codefirstgirls.org.uk/"
      style="text-decoration: underline"
      target="_blank"
      >Code First Girls</a
    >
    programming course and my vegan friends!
  </p> -->
  <!-- <p style="line-height:1.4;">This web app was built for my python course final project where I wanted to combine the web development knowledge. Thanks to the amazing instructors and fellow students at CFG community, I learnt a lot to be able to make this web app!</p> -->
</div>

<div class="social-menu">
  <ul>
    <li>
      <a href="https://github.com/InquisitiveMe15/" target="_blank"
        ><i class="fa fa-github"></i
      ></a>
    </li>
    <!-- <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li> -->
  </ul>
</div>

{% include "footer.html" %}
